{% extends 'layouts/base.html' %}

{% block title %}Frequently Asked Questions{% endblock %}
{% block heading %}<h2>FAQ</h2>{% endblock %}

{% block body %}
<p>
    By using the Snake Eyes ("service"), you are agreeing to be bound by the
    following terms and conditions ("terms of service").
  </p>
  <p>
    Snake Eyes, LLC ("company") reserves the right to update and change these
    terms of service without notice.
  </p>
  <p>
    Violation of any of the terms below may result in the termination of your
    account.
  </p>
{% endblock %}